<form class="center m-5 p-5 rounded-3 w-85">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input type="number" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Image URL</label>
        <input type="file" class="form-control">
    </div>
    <div class="mb-3">
        <label for="">Category List</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>select Category</option>
            @for (category of CategoriesList; track $index) {
            <option [value]="category.id">{{category.name}}</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>