<h3 class="text-center mb-4">Selected Category ID : {{ReceivedCatigoryId}}</h3>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- for loop -->
    @for (Product of FilteredProducts; track Product.id) {
    <!-- if to check product quantity equals zero or not -->
    @if (Product.Quantity != 0) {
    <div class="col">
        <!-- Product Card -->
        <div class=" card">
            <img [src]="Product.imageUrl" class="card-img-top" alt="...">
            <div class="card-body" [ngStyle]="Product.Quantity==1?{'background-color':'yellow'}:{}">
                <h5 class="card-title">{{Product.name}} ---- {{Product.price}}$</h5>
                <p class="card-text" [ngClass]="Product.Quantity>1?'':'text-danger'">{{Product.description}}</p>
                <!-- Quantity Check -->
                @if (Product.Quantity>1) {
                <p class="card-text">{{Product.Quantity}}</p>
                }
                @else {
                <p class="card-text text-danger">Last Item!</p>
                }
                <!-- Buy Button -->
                <button class="btn btn-success" (click)="Productsold(Product)">Buy</button>
            </div>
        </div>
    </div>
    }
    }
</div>