<div class="mb-3">
    <select [(ngModel)]="selectedCategoryId" class="form-select" aria-label="Default select example">
        <!-- <option value="-1" disabled selected>select category</option> -->
        <option value="0">Show All</option>
        @for (cat of CategoryList; track cat.id) {
        <option [value]="cat.id">{{cat.name}}</option>
        }
    </select>
</div>

<div m-4 class="text-center">
    <h2>{{SSN | ssn2date | date: 'shortDate'}}</h2>
</div>

<app-products [ReceivedCatigoryId]="selectedCategoryId"></app-products>